<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Ajout du favicon -->
  <link rel="icon" type="image/x-icon" href="<%= process.env.SITE_URL %>/assets/images/favicon/favicon.ico">


  <link rel="stylesheet" href="<%= process.env.SITE_URL %>/assets/styles/style.css">
  <% if(title == "Inscription" || title == "Connexion") { %>
  <link rel="stylesheet" href="<%= process.env.SITE_URL %>/assets/styles/formulaire/formulaire.css">
  <% ;} %>
  <% if(title == "Vérification email") { %>
  <link rel="stylesheet" href="<%= process.env.SITE_URL %>/assets/styles/verify-mail/verify-mail.css">
  <% ;} %>

  <title><%= title || "shareSkill" %></title>
</head>

<body>
  <header>
    <%- include("./components/navbar") %>
  </header>
  <main>
    <%- include(view)%>
  </main>
  <script type="module" src="<%= process.env.SITE_URL %>/assets/js/navbar.js"></script>
  <% if (title == "Inscription") { %>
  <script type="module" src="<%= process.env.SITE_URL %>/assets/js/register.js"></script>
  <% } %>
  <% if (title == "Vérification email") { %>
  <script type="module" src="<%= process.env.SITE_URL %>/assets/js/verification-email.js"></script>
  <% } %>
  <% if (title == "Connexion") { %>
  <script type="module" src="<%= process.env.SITE_URL %>/assets/js/connexion.js"></script>
  <% } %>
  <script type="module" src="<%= process.env.SITE_URL %>/assets/js/notification.js"></script>
</body>

</html>